/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Updated font family */
  line-height: 1.5;
  --primary-text-color: #181820;s
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 900px;
  position: relative;
}

.resume {
  margin: 50px auto;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
  padding: 30px 0;
  max-width: 900px;
  position: relative;
  background: rgba(255, 255, 255, 0.8); 
}

.resume::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://avatars.githubusercontent.com/u/13114349?s=200&v=4') no-repeat center center;
  background-size: cover;
  opacity: 0.4; 
  z-index: -1; 
}

.resume__header,
.resume__photo,
.resume__intro,
.resume__skills,
.resume__main-info {
  margin-bottom: 20px;
  text-align: center;
}

.resume__header h1 {
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.resume__header h3 {
  color: var(--secondary-text-color);
}

.resume__photo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
  display: block;
  margin: 0 auto;
}

.intro__text {
  color: var(--secondary-text-color);
  text-align: justify;
  padding: 0 10%;
}

.skills__header {
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.skills__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills__list li {
  color: var(--secondary-text-color);
  margin: 0 10px;
}

.resume__main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-info__experience,
.main-info__additional-info {
  flex: 1;
  margin: 10px;
}

.experience__header,
.additional-info__header {
  color: var(--text-decoration-color);
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--text-decoration-color); /* Underline effect */
}

.experience__header {
  color: var(--text-decoration-color); /* Orange color for main titles */
}

.experience__header,
.additional-info__header,
.additional-info__education .education__degree { /* Applying orange color to all main titles */
  border-bottom-color: var(--text-decoration-color);
}

.experience__item,
.education__item {
  margin-bottom: 20px;
}

.item__header {
  text-align: left;
}

.item__job-title {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 5px;
}

.item__company-duration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item__company,
.item__institution,
.item__duration {
  color: var(--durability-text-color);
  margin-bottom: 5px;
}

.item__responsibilities,
.languages__item,
.education__item {
  color: var(--secondary-text-color);
  text-align: left;
  padding-left: 20px;
  margin-bottom: 5px;
}

/* Additional specific alignment adjustments */
.education__degree {
  font-weight: bold;
}

.education__item {
  padding-left: 0px;
  text-align: left;
  color: var(--primary-text-color);
}

#binary-academy {
  color: var(--durability-text-color);
}

@media screen and (max-width: 576px) {
  .resume__main-info {
    flex-direction: column;
  }

  .resume__intro {
    padding: 0 5%;
  }

  .item__company-duration {
    flex-direction: column;
    align-items: flex-start;
  }
}
